<ion-view view-title="Medical profile">

    <ion-content class="has-header">
        <div class="list card">

            <div class="row">
            <div class="col">
              <div class="item item-body">
                  <img src="img/2.png"/>
              </div>
            </div>
            <div class="col">
              <ion-list>
                <label class="item item-input">
                  <input type="search" placeholder="Name">
                </label>
                <label class="item item-input">
                  <input type="search" placeholder="Id">
                </label>
                <label class="item item-input">
                  <input type="search" placeholder="Age">
                </label>
              </ion-list>

            </div>

          </div>
          <div class="row">
            <h4><a>Gender</a></h4>
            <div class="col">
              <ion-radio ng-model="choice" ng-value="'A'">Male</ion-radio>
            </div>
            <div class="col">
              <ion-radio ng-model="choice" ng-value="'B'">Female</ion-radio>
            </div>
          </div>
        </div>


        </div>
        <div class="list card">
          <h4><a>Diagnóstic</a></h4>

        </div>
        <div class="list card">
          <h4><a>Allergies</a></h4>

        </div>

    </ion-content>.


</ion-view>
