
<ion-view view-title="Inicio">

  <mwl-calendar
      view="calendarView"
      current-day="calendarDay"
      view-date="calendarDate"
      events="events"
      view-title="calendarTitle"
      on-event-click="eventClicked(calendarEvent)"
      on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
      edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
      delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
      on-edit-event-click="eventEdited(calendarEvent)"
      on-delete-event-click="eventDeleted(calendarEvent)"
      cell-is-open="true">
  </mwl-calendar>
  <ion-content data-ng-controller="calenderController">
    {{tester}}
    {{calendarDay}}
    <mwl-calendar
        view="calendarView"
        current-day="calendarDay"
        view-date="calendarDate"
        events="events"
        view-title="calendarTitle"
        on-event-click="eventClicked(calendarEvent)"
        on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
        edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
        delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
        on-edit-event-click="eventEdited(calendarEvent)"
        on-delete-event-click="eventDeleted(calendarEvent)"
        cell-is-open="true">
    </mwl-calendar>
 </ion-content>
</ion-view>
