
  <ion-view view-title="Charts">

    <ion-content >

      <a class="item item-thumbnail-left" href="#/app/grafico/1">
           <img src="img/1.png">
           <button class="button button-full button-calm">
             Chart 1
           </button>
           <p>Chart's description</p>
      </a>
      <a class="item item-thumbnail-left" href="#/app/grafico/2">
          <img src="img/2.png">
          <button class="button button-full button-balanced">
            Chart 2
          </button>
          <p>Chart's description</p>
      </a>
      <a class="item item-thumbnail-left" href="#/app/grafico/3">
           <img src="img/3.png">
           <button class="button button-full button-royal">
             Chart 3
           </button>
           <p>Chart's description</p>
       </a>

       <a class="item item-thumbnail-left" href="#/app/grafico/4">
           <img src="img/4.png">
           <button class="button button-full button-energized">
             Chart 4
           </button>
           <p>Chart's description</p>
       </a>
       <a class="item item-thumbnail-left" href="#/app/grafico/1">
            <img src="img/1.png">
            <button class="button button-full button-calm">
              Chart 1
            </button>
            <p>Chart's description</p>
       </a>
       <a class="item item-thumbnail-left" href="#/app/grafico/2">
           <img src="img/2.png">
           <button class="button button-full button-balanced">
             Chart 2
           </button>
           <p>Chart's description</p>
       </a>
       <a class="item item-thumbnail-left" href="#/app/grafico/3">
            <img src="img/3.png">
            <button class="button button-full button-royal">
              Chart 3
            </button>
            <p>Chart's description</p>
        </a>

        <a class="item item-thumbnail-left" href="#/app/grafico/4">
            <img src="img/4.png">
            <button class="button button-full button-energized">
              Chart 4
            </button>
            <p>Chart's description</p>
        </a>


</ion-content>

  </ion-view>
