<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <!-- Dashboard Tab
  <ion-tab title="Inicio" icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- ficha Tab -->
  <ion-tab title="Ficha" icon-off="ion-document-text" icon-on="ion-document-text" href="#/tab/ficha">
    <ion-nav-view name="tab-ficha"></ion-nav-view>
  </ion-tab>

  <!-- tips Tab -->
  <ion-tab title="Tips" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/tips">
    <ion-nav-view name="tab-tips"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab title="Calendario" icon-off="ion-ios-calendar" icon-on="ion-ios-calendar" href="#/tab/calendar">
    <ion-nav-view name="tab-calendar"></ion-nav-view>
  </ion-tab>

  <!-- Graficos Tab -->
  <ion-tab title="Gráficos" icon-off="ion-ios-analytics-outline" icon-on="ion-ios-analytics" href="#/tab/graficos">
    <ion-nav-view name="tab-graficos"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Configuración" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
